<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hit.curricelumdesign.dao.FinishedSurfaceMapper">
    <resultMap id="BaseResultMap" type="com.hit.curricelumdesign.context.entity.FinishedSurface">
        <id column="f_id" jdbcType="INTEGER" property="id"/>
        <result column="f_work_project_id" jdbcType="INTEGER" property="workProjectId"/>
        <result column="f_surface_id" jdbcType="INTEGER" property="surfaceId"/>
        <result column="f_type" jdbcType="INTEGER" property="type"/>
        <result column="f_name" jdbcType="VARCHAR" property="name"/>
        <result column="f_is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="f_creator_id" jdbcType="INTEGER" property="creatorId"/>
        <result column="f_createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="f_updater_id" jdbcType="INTEGER" property="updaterId"/>
        <result column="f_updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
    f_id, f_work_project_id, f_surface_id, f_type, f_name, f_is_delete, f_creator_id,
    f_createtime, f_updater_id, f_updatetime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_finished_surface
        where f_id = #{id,jdbcType=INTEGER}
        and f_is_delete = 0
    </select>
    <select id="selectByWorkProjectId"
            resultType="com.hit.curricelumdesign.context.dto.finishedsurface.FinishedSurfaceDTO">
        select
        f_surface_id as 'surfaceId',
        f_type as 'type',
        f_name as 'name'
        from t_finished_surface
        where f_work_project_id = #{workProjectId,jdbcType=INTEGER}
        and f_is_delete = 0
    </select>
    <select id="selectBySurfaceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_finished_surface
        where f_work_project_id = #{workProjectId,jdbcType=INTEGER}
        and f_surface_id = #{surfaceId,jdbcType=INTEGER}
        and f_is_delete = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_finished_surface
    where f_id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hit.curricelumdesign.context.entity.FinishedSurface">
    insert into t_finished_surface (f_id, f_work_project_id, f_surface_id,
      f_type, f_name, f_is_delete, f_creator_id,
      f_createtime, f_updater_id, f_updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{workProjectId,jdbcType=INTEGER}, #{surfaceId,jdbcType=INTEGER},
      #{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT}, #{creatorId,jdbcType=INTEGER},
      #{createtime,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hit.curricelumdesign.context.entity.FinishedSurface">
        insert into t_finished_surface
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                f_id,
            </if>
            <if test="workProjectId != null">
                f_work_project_id,
            </if>
            <if test="surfaceId != null">
                f_surface_id,
            </if>
            <if test="type != null">
                f_type,
            </if>
            <if test="name != null">
                f_name,
            </if>
            <if test="isDelete != null">
                f_is_delete,
            </if>
            <if test="creatorId != null">
                f_creator_id,
            </if>
            <if test="createtime != null">
                f_createtime,
            </if>
            <if test="updaterId != null">
                f_updater_id,
            </if>
            <if test="updatetime != null">
                f_updatetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="workProjectId != null">
                #{workProjectId,jdbcType=INTEGER},
            </if>
            <if test="surfaceId != null">
                #{surfaceId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updaterId != null">
                #{updaterId,jdbcType=INTEGER},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hit.curricelumdesign.context.entity.FinishedSurface">
        update t_finished_surface
        <set>
            <if test="workProjectId != null">
                f_work_project_id = #{workProjectId,jdbcType=INTEGER},
            </if>
            <if test="surfaceId != null">
                f_surface_id = #{surfaceId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                f_type = #{type,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                f_name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                f_is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="creatorId != null">
                f_creator_id = #{creatorId,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                f_createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updaterId != null">
                f_updater_id = #{updaterId,jdbcType=INTEGER},
            </if>
            <if test="updatetime != null">
                f_updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where f_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hit.curricelumdesign.context.entity.FinishedSurface">
    update t_finished_surface
    set f_work_project_id = #{workProjectId,jdbcType=INTEGER},
      f_surface_id = #{surfaceId,jdbcType=INTEGER},
      f_type = #{type,jdbcType=INTEGER},
      f_name = #{name,jdbcType=VARCHAR},
      f_is_delete = #{isDelete,jdbcType=BIT},
      f_creator_id = #{creatorId,jdbcType=INTEGER},
      f_createtime = #{createtime,jdbcType=TIMESTAMP},
      f_updater_id = #{updaterId,jdbcType=INTEGER},
      f_updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where f_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
