<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hit.curricelumdesign.dao.ProcessMapper" >
  <resultMap id="BaseResultMap" type="com.hit.curricelumdesign.context.entity.Process" >
    <id column="f_id" property="id" jdbcType="INTEGER" />
    <result column="f_card_id" property="cardId" jdbcType="INTEGER" />
    <result column="f_surface_id" property="surfaceId" jdbcType="INTEGER" />
    <result column="f_process_file_id" property="processFileId" jdbcType="INTEGER" />
    <result column="f_name" property="name" jdbcType="VARCHAR" />
    <result column="f_sort" property="sort" jdbcType="INTEGER" />
    <result column="f_is_delete" property="isDelete" jdbcType="BIT" />
    <result column="f_creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="f_createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="f_updater_id" property="updaterId" jdbcType="INTEGER" />
    <result column="f_updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    f_id, f_card_id, f_surface_id, f_process_file_id, f_name, f_sort, f_is_delete, f_creator_id, 
    f_createtime, f_updater_id, f_updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_process
    where f_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_process
    where f_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hit.curricelumdesign.context.entity.Process" >
    insert into t_process (f_id, f_card_id, f_surface_id, 
      f_process_file_id, f_name, f_sort, 
      f_is_delete, f_creator_id, f_createtime, 
      f_updater_id, f_updatetime)
    values (#{id,jdbcType=INTEGER}, #{cardId,jdbcType=INTEGER}, #{surfaceId,jdbcType=INTEGER}, 
      #{processFileId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=BIT}, #{creatorId,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updaterId,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hit.curricelumdesign.context.entity.Process" >
    insert into t_process
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        f_id,
      </if>
      <if test="cardId != null" >
        f_card_id,
      </if>
      <if test="surfaceId != null" >
        f_surface_id,
      </if>
      <if test="processFileId != null" >
        f_process_file_id,
      </if>
      <if test="name != null" >
        f_name,
      </if>
      <if test="sort != null" >
        f_sort,
      </if>
      <if test="isDelete != null" >
        f_is_delete,
      </if>
      <if test="creatorId != null" >
        f_creator_id,
      </if>
      <if test="createtime != null" >
        f_createtime,
      </if>
      <if test="updaterId != null" >
        f_updater_id,
      </if>
      <if test="updatetime != null" >
        f_updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=INTEGER},
      </if>
      <if test="surfaceId != null" >
        #{surfaceId,jdbcType=INTEGER},
      </if>
      <if test="processFileId != null" >
        #{processFileId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hit.curricelumdesign.context.entity.Process" >
    update t_process
    <set >
      <if test="cardId != null" >
        f_card_id = #{cardId,jdbcType=INTEGER},
      </if>
      <if test="surfaceId != null" >
        f_surface_id = #{surfaceId,jdbcType=INTEGER},
      </if>
      <if test="processFileId != null" >
        f_process_file_id = #{processFileId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        f_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        f_sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        f_is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="creatorId != null" >
        f_creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        f_createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        f_updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        f_updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where f_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hit.curricelumdesign.context.entity.Process" >
    update t_process
    set f_card_id = #{cardId,jdbcType=INTEGER},
      f_surface_id = #{surfaceId,jdbcType=INTEGER},
      f_process_file_id = #{processFileId,jdbcType=INTEGER},
      f_name = #{name,jdbcType=VARCHAR},
      f_sort = #{sort,jdbcType=INTEGER},
      f_is_delete = #{isDelete,jdbcType=BIT},
      f_creator_id = #{creatorId,jdbcType=INTEGER},
      f_createtime = #{createtime,jdbcType=TIMESTAMP},
      f_updater_id = #{updaterId,jdbcType=INTEGER},
      f_updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where f_id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByCardId" parameterType="java.lang.Integer" >
    delete from t_process
    where f_card_id = #{cardId,jdbcType=INTEGER}
  </delete>
</mapper>