<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hit.curricelumdesign.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.hit.curricelumdesign.context.entity.Student" >
    <id column="f_id" property="id" jdbcType="INTEGER" />
    <result column="f_academy_id" property="academyId" jdbcType="INTEGER" />
    <result column="f_enrollment_id" property="enrollmentId" jdbcType="INTEGER" />
    <result column="f_class_id" property="classId" jdbcType="INTEGER" />
    <result column="f_name" property="name" jdbcType="VARCHAR" />
    <result column="f_number" property="number" jdbcType="VARCHAR" />
    <result column="f_is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="f_creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="f_createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="f_updater_id" property="updaterId" jdbcType="INTEGER" />
    <result column="f_updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="DTOResultMap" type="com.hit.curricelumdesign.context.dto.student.StudentDTO" >
    <id column="f_id" property="id" jdbcType="INTEGER" />
    <result column="f_academy_id" property="academyId" jdbcType="INTEGER" />
    <result column="f_enrollment_id" property="enrollmentId" jdbcType="INTEGER" />
    <result column="f_class_id" property="classId" jdbcType="INTEGER" />
    <result column="f_name" property="name" jdbcType="VARCHAR" />
    <result column="f_number" property="number" jdbcType="VARCHAR" />
    <result column="enrollmentYear" property="enrollmentYear" jdbcType="VARCHAR" />
    <result column="academyName" property="academyName" jdbcType="VARCHAR" />
    <result column="className" property="className" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    f_id, f_academy_id, f_enrollment_id, f_class_id, f_name, f_number, f_is_delete, f_creator_id, 
    f_createtime, f_updater_id, f_updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where f_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByNumber" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_student
    where f_number = #{number}
  </select>
  <select id="selectById" resultMap="DTOResultMap" parameterType="java.lang.Integer" >
    select
    st.f_id, st.f_academy_id, st.f_enrollment_id, st.f_class_id, st.f_name, st.f_number,a.f_name as academyName,e.f_name as enrollmentYear,c.f_name as className
    from t_student st
    left join t_academy a on st.f_academy_id = a.id
    left join t_enrollment_year e on st.f_enrollment_id = e.id
    left join t_class c on st.f_class_id = c.id
    where f_id = #{id,jdbcType=INTEGER} and st.f_is_delete = false;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_student
    where f_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hit.curricelumdesign.context.entity.Student" >
    insert into t_student (f_id, f_academy_id, f_enrollment_id, 
      f_class_id, f_name, f_number, 
      f_is_delete, f_creator_id, f_createtime, 
      f_updater_id, f_updatetime)
    values (#{id,jdbcType=INTEGER}, #{academyId,jdbcType=INTEGER}, #{enrollmentId,jdbcType=INTEGER}, 
      #{classId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=TINYINT}, #{creatorId,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updaterId,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hit.curricelumdesign.context.entity.Student" >
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        f_id,
      </if>
      <if test="academyId != null" >
        f_academy_id,
      </if>
      <if test="enrollmentId != null" >
        f_enrollment_id,
      </if>
      <if test="classId != null" >
        f_class_id,
      </if>
      <if test="name != null" >
        f_name,
      </if>
      <if test="number != null" >
        f_number,
      </if>
      <if test="isDelete != null" >
        f_is_delete,
      </if>
      <if test="creatorId != null" >
        f_creator_id,
      </if>
      <if test="createtime != null" >
        f_createtime,
      </if>
      <if test="updaterId != null" >
        f_updater_id,
      </if>
      <if test="updatetime != null" >
        f_updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="academyId != null" >
        #{academyId,jdbcType=INTEGER},
      </if>
      <if test="enrollmentId != null" >
        #{enrollmentId,jdbcType=INTEGER},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hit.curricelumdesign.context.entity.Student" >
    update t_student
    <set >
      <if test="academyId != null" >
        f_academy_id = #{academyId,jdbcType=INTEGER},
      </if>
      <if test="enrollmentId != null" >
        f_enrollment_id = #{enrollmentId,jdbcType=INTEGER},
      </if>
      <if test="classId != null" >
        f_class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        f_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        f_number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        f_is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null" >
        f_creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        f_createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        f_updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        f_updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where f_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hit.curricelumdesign.context.entity.Student" >
    update t_student
    set f_academy_id = #{academyId,jdbcType=INTEGER},
      f_enrollment_id = #{enrollmentId,jdbcType=INTEGER},
      f_class_id = #{classId,jdbcType=INTEGER},
      f_name = #{name,jdbcType=VARCHAR},
      f_number = #{number,jdbcType=VARCHAR},
      f_is_delete = #{isDelete,jdbcType=TINYINT},
      f_creator_id = #{creatorId,jdbcType=INTEGER},
      f_createtime = #{createtime,jdbcType=TIMESTAMP},
      f_updater_id = #{updaterId,jdbcType=INTEGER},
      f_updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where f_id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getStudentList" resultMap="DTOResultMap">
    select
    st.f_id, st.f_academy_id, st.f_enrollment_id, st.f_class_id, st.f_name, st.f_number,a.f_name as academyName,e.f_name as enrollmentYear,c.f_name as className
    from t_student st
    left join t_academy a on st.f_academy_id = a.id
    left join t_enrollment_year e on st.f_enrollment_id = e.id
    left join t_class c on st.f_class_id = c.id
    where st.f_is_delete = false;
  </select>
</mapper>