<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hit.curricelumdesign.dao.WorkMessageMapper">
    <resultMap id="BaseResultMap" type="com.hit.curricelumdesign.context.entity.WorkMessage">
        <id column="f_id" property="id" jdbcType="INTEGER"/>
        <result column="f_teaching_id" property="teachingId" jdbcType="INTEGER"/>
        <result column="f_work_id" property="workId" jdbcType="INTEGER"/>
        <result column="f_content" property="content" jdbcType="VARCHAR"/>
        <result column="f_is_read" property="isRead" jdbcType="BIT"/>
        <result column="f_sender_id" property="senderId" jdbcType="INTEGER"/>
        <result column="f_sender_type" property="senderType" jdbcType="INTEGER"/>
        <result column="f_receiver_id" property="receiverId" jdbcType="INTEGER"/>
        <result column="f_receiver_type" property="receiverType" jdbcType="INTEGER"/>
        <result column="f_createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="f_updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
        <result column="f_is_delete" property="isDelete" jdbcType="BIT"/>
    </resultMap>
    <resultMap id="WorkMessageInfoDTOMap" type="com.hit.curricelumdesign.context.dto.workmessage.WorkMessageInfoDTO">
        <id column="f_id" property="id" jdbcType="INTEGER"/>
        <result column="f_content" property="content" jdbcType="VARCHAR"/>
        <result column="f_sender_id" property="senderId" jdbcType="INTEGER"/>
        <result column="f_sender_type" property="senderType" jdbcType="INTEGER"/>
        <result column="createtime" property="createtime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    f_id, f_teaching_id, f_work_id, f_content, f_is_read, f_sender_id, f_sender_type,
    f_receiver_id, f_receiver_type, f_createtime, f_updatetime, f_is_delete
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_work_message
        where f_id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getTeacherMessageDTOByTeacherId"
            resultType="com.hit.curricelumdesign.context.dto.workmessage.WorkMessageDTO">
        SELECT
            a.f_work_id AS 'workId',
            a.f_teaching_id AS 'teachingId',
            b.f_name AS 'teachingName',
            c.f_name AS 'senderName',
            a.f_content AS 'content',
            DATE_FORMAT(a.f_createtime ,'%Y-%m-%d %H:%i:%s') as 'createtime'
        FROM
            t_work_message a
            LEFT JOIN t_teaching b ON a.f_teaching_id = b.f_id
            LEFT JOIN t_student c ON a.f_sender_id = c.f_id
        WHERE
            a.f_is_delete = 0
            AND b.f_is_delete = 0
            AND c.f_is_delete = 0
            AND a.f_receiver_type = 2
            AND a.f_receiver_id = #{teacherId}
            AND a.f_is_read = #{read}
    </select>
    <select id="getStudentMessageDTOByStudentId"
            resultType="com.hit.curricelumdesign.context.dto.workmessage.WorkMessageDTO">
        SELECT
            a.f_work_id AS 'workId',
            a.f_teaching_id AS 'teachingId',
            b.f_name AS 'teachingName',
            c.f_name AS 'senderName',
            a.f_content AS 'content',
            DATE_FORMAT(a.f_createtime ,'%Y-%m-%d %H:%i:%s') as 'createtime'
        FROM
            t_work_message a
            LEFT JOIN t_teaching b ON a.f_teaching_id = b.f_id
            LEFT JOIN t_teacher c ON a.f_sender_id = c.f_id
        WHERE
            a.f_is_delete = 0
            AND b.f_is_delete = 0
            AND c.f_is_delete = 0
            AND a.f_receiver_type = 1
            AND a.f_receiver_id = #{studentId}
            AND a.f_is_read = #{read}
  </select>
    <select id="countTeacherUnreadMessage" resultType="java.lang.Long">
        SELECT
            count( * )
        FROM
            t_work_message
        WHERE
            f_is_delete = 0
            AND f_receiver_type = 2
            AND f_receiver_id = #{teacherId}
  </select>
    <select id="countStudentUnreadMessage" resultType="java.lang.Long">
        SELECT
            count( * )
        FROM
            t_work_message
        WHERE
            f_is_delete = 0
            AND f_receiver_type = 1
            AND f_receiver_id = #{studentId}
    </select>
    <select id="getWorkMessageInfoDTOByWorkId"
            resultMap="WorkMessageInfoDTOMap">
        select
        f_id,
        f_content,
        f_sender_id,
        f_sender_type,
        DATE_FORMAT(f_createtime ,'%Y-%m-%d %H:%i:%s') as 'createtime'
        FROM
        t_work_message
        WHERE
        f_is_delete = 0
        AND f_work_id = #{workId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_work_message
    where f_id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hit.curricelumdesign.context.entity.WorkMessage">
    insert into t_work_message (f_id, f_teaching_id, f_work_id,
      f_content, f_is_read, f_sender_id,
      f_sender_type, f_receiver_id, f_receiver_type,
      f_createtime, f_updatetime, f_is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{teachingId,jdbcType=INTEGER}, #{workId,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR}, #{isRead,jdbcType=BIT}, #{senderId,jdbcType=INTEGER},
      #{senderType,jdbcType=INTEGER}, #{receiverId,jdbcType=INTEGER}, #{receiverType,jdbcType=INTEGER},
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hit.curricelumdesign.context.entity.WorkMessage">
        insert into t_work_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                f_id,
            </if>
            <if test="teachingId != null">
                f_teaching_id,
            </if>
            <if test="workId != null">
                f_work_id,
            </if>
            <if test="content != null">
                f_content,
            </if>
            <if test="isRead != null">
                f_is_read,
            </if>
            <if test="senderId != null">
                f_sender_id,
            </if>
            <if test="senderType != null">
                f_sender_type,
            </if>
            <if test="receiverId != null">
                f_receiver_id,
            </if>
            <if test="receiverType != null">
                f_receiver_type,
            </if>
            <if test="createtime != null">
                f_createtime,
            </if>
            <if test="updatetime != null">
                f_updatetime,
            </if>
            <if test="isDelete != null">
                f_is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="teachingId != null">
                #{teachingId,jdbcType=INTEGER},
            </if>
            <if test="workId != null">
                #{workId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="isRead != null">
                #{isRead,jdbcType=BIT},
            </if>
            <if test="senderId != null">
                #{senderId,jdbcType=INTEGER},
            </if>
            <if test="senderType != null">
                #{senderType,jdbcType=INTEGER},
            </if>
            <if test="receiverId != null">
                #{receiverId,jdbcType=INTEGER},
            </if>
            <if test="receiverType != null">
                #{receiverType,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hit.curricelumdesign.context.entity.WorkMessage">
        update t_work_message
        <set>
            <if test="teachingId != null">
                f_teaching_id = #{teachingId,jdbcType=INTEGER},
            </if>
            <if test="workId != null">
                f_work_id = #{workId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                f_content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="isRead != null">
                f_is_read = #{isRead,jdbcType=BIT},
            </if>
            <if test="senderId != null">
                f_sender_id = #{senderId,jdbcType=INTEGER},
            </if>
            <if test="senderType != null">
                f_sender_type = #{senderType,jdbcType=INTEGER},
            </if>
            <if test="receiverId != null">
                f_receiver_id = #{receiverId,jdbcType=INTEGER},
            </if>
            <if test="receiverType != null">
                f_receiver_type = #{receiverType,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                f_createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                f_updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                f_is_delete = #{isDelete,jdbcType=BIT},
            </if>
        </set>
        where f_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hit.curricelumdesign.context.entity.WorkMessage">
    update t_work_message
    set f_teaching_id = #{teachingId,jdbcType=INTEGER},
      f_work_id = #{workId,jdbcType=INTEGER},
      f_content = #{content,jdbcType=VARCHAR},
      f_is_read = #{isRead,jdbcType=BIT},
      f_sender_id = #{senderId,jdbcType=INTEGER},
      f_sender_type = #{senderType,jdbcType=INTEGER},
      f_receiver_id = #{receiverId,jdbcType=INTEGER},
      f_receiver_type = #{receiverType,jdbcType=INTEGER},
      f_createtime = #{createtime,jdbcType=TIMESTAMP},
      f_updatetime = #{updatetime,jdbcType=TIMESTAMP},
      f_is_delete = #{isDelete,jdbcType=BIT}
    where f_id = #{id,jdbcType=INTEGER}
  </update>
    <update id="readMessage">
        UPDATE t_work_message
        SET f_is_read = 1
        WHERE
            f_is_delete = 0
            AND f_is_read = 0
            AND f_work_id = #{workId}
            and f_receiver_id = #{userId}
            and f_receiver_type = #{receiverType}
    </update>
</mapper>
